{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="row p-5 text-justify" style="color: black;">

<div class="col-md-3">
</div>

<div class="col-md-6 ">

<strong><h1><bold>About Us</bold></h1></strong>
<br>

<bold><h2>Who we are:</h2></bold>
<p>
So you are here because you like us and our blogs and interested in startups — more specifically, software startups.<br>

I am Young energy with a huge mindset of achieving lots of rewards on my way. One of those achievements and motive is to share the experiences and knowledge that I have acquired in my profession. I want to make sure that I provide a platform where you can find all your answers related to Sales, Startup, SEO, Marketing, Blogging, Technology and other Trending news under one roof.<br>

I am fully aware of the intricacies that are encountered while searching for these topics and getting the exact knowledge that you seek. Also, I have undergone through all the ups and downs in each field and hence I find myself in a better stage to elaborate on the problems with a suitable and instant solution. The researches that I have been doing in my early stage and trying to figuring out which option is a perfect fit for me won’t happen with you. 
</p><br>


<bold><h2>The Problem and its Solution:</h2></bold>
<p>
Many of us are doing a 10 to 7 job but also dream of starting our own startup and face many challenges while stepping into this competitive world. That’s why I am here to guide you for every bit of this journey.<br>
Entrepreneurs and startup founders wear many hats because it is expected of them. They start out with organizing the company, then act as the first salesman, fund-raiser, paymaster, quartermaster, logistics, project manager, tech guy, and many others.<br>
For technology startups, the founder is also sometimes the CTO and/or lead programmer, as well as the accounting and finance person. With a product in the pipeline, the founder also has his hands in the creative aspects such as product design, marketing, and branding.<br>
Besides the day-to-day management and operations, an entrepreneur is also expected to be the go-to person when it comes to the fund sourcing. The all-around nature of the entrepreneur is mainly because there is nobody else to do the job. Either the job has not yet been filled, contracted out, or there is not enough capital to cover a full-time employee for the role.<br>
To keep up with the requirements of the job, the entrepreneur has to know something of everything. This can be accomplished by being involved with the right people who’ve had enough practice and excellent work experience, by working with the right people such as professionals/consultants, or even by outsourcing some business functions to a third-party provider.<br>
Moreover, they can also keep their skill set updated with the latest trends in startups by picking up new and valuable skills. Fortunately, there are a lot of blogs aimed at the entrepreneur, which can greatly help startup founders keep up with the latest trends and learn new skills necessary for the job, or roles necessary for the business.<br>
The best sources of advice about startups are entrepreneurs who have worked and are working with startups.<br>
Subscribe, ask questions if you have any query and interact with us to learn how you can successfully run your own business.<br>
As a startup founder, one of your primary concerns is making a business out of your solution or service. While you can hire an agency or an employee with marketing and sales capabilities, it pays to know the current trends, rules, and best practices in these fields.<br>
</p>


<bold><h2>Our Aim:</h2></bold>
<p>
TechFluenzer is a platform made to ensure that its audiences receive the practically tested and proven results to any problem. We are fully aware of the intricacies that are encountered while searching the right solution that fits your issue. <br>
For further queries, you can contact me (Aayushi Dadhich) at dadhich.aayushi123@gmail.com<br>
</p>

</div>
<div class="col-md-3"></div>
</div>
</body>
</html>
{% endblock %}