{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<main class="p-5">
<div class="row text-justify add">
	<div class=" col-sm-6 offset-sm-3">
	<h2 id="clr"> My Blogs</h2>
	<hr>
	<form enctype="multipart/form-data" method="post">
	{% csrf_token %}
	
	{{form | crispy}}<br>
	{{ form.media }}
	
	<input class="btn btn-dark my-3" type="submit"/>
	</form>
	

	
	
	</div>
</div>
</main>
</body>
</html>
{% endblock %}